In [ ]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy -- need to install this one if you do not have it
import requests
import json
import pandas as pd
from sodapy import Socrata
import time
from api_keys import aid_key
import os
import numpy as np
import psycopg2
from dbconnection import connect_string
engine = create_engine (connect_string)
#os.chdir("../")
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
#client = Socrata("data.usaid.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.usaid.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
#results = client.get("azij-hu6e", limit=2000)

# Convert to pandas DataFrame

#newresults = pd.DataFrame(results)
# limit the number of year 2010 - 2021 (get this data from the foreign assistance API)
# country by fiscalyear, total funds,  country, two origincounty, receivinresulgcountry, amount 
# may need to convert candian amounts to US dollars for proper comparison

In [ ]:
newresults.head(2)

In [ ]:
#import world development CSV file into data from to import into Postgres Database


worldData= pd.read_csv("resources/world_development_indicators.csv")

worldData.head()

In [3]:
worldData.rename(columns = {'2012 [YR2012]': 'YR2012', '2013 [YR2013]': 'YR2013', '2014 [YR2014]': 'YR2014',\
                             '2015 [YR2015]':'YR2015', '2016 [YR2016]':'YR2016',\
                           '2017 [YR2017]':'YR2017','2018 [YR2018]':'YR2018',\
                            '2019 [YR2019]':'YR2019','2020 [YR2020]':'YR2020',\
                           '2021 [YR2021]':'YR2021'}, inplace = True)

worldData.head()

,Country Name,Country Code,Series Name,Series Code,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021
0,Argentina,ARG,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,63.567,63.41,63.253,63.096,62.939,62.782,62.5654,62.3488,62.1322,..
1,Argentina,ARG,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,5.7817442068501,6.05291843670451,6.71270351428559,5.1566859021408,6.26456582010254,5.23162237725058,4.53787889681146,5.11101651115706,5.93240449413718,6.86985631011211
2,Argentina,ARG,"Annual freshwater withdrawals, total (% of int...",ER.H2O.FWTL.ZS,12.9075342465753,..,..,..,..,12.9075342465753,..,..,..,..
3,Argentina,ARG,Births attended by skilled health staff (% of ...,SH.STA.BRTC.ZS,98.2,97,99.6,99.6,98.4,93.9,..,..,..,..
4,Argentina,ARG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.26422378235981,4.34211506853729,4.20909563279429,4.30191387639872,4.20184577616112,4.07130836193664,3.97577197057929,3.74065029063396,..,..

In [7]:
worldData.dropna(inplace=True)
worldData

,Country Name,Country Code,Series Name,Series Code,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021
0,Argentina,ARG,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,63.567,63.41,63.253,63.096,62.939,62.782,62.5654,62.3488,62.1322,..
1,Argentina,ARG,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,5.7817442068501,6.05291843670451,6.71270351428559,5.1566859021408,6.26456582010254,5.23162237725058,4.53787889681146,5.11101651115706,5.93240449413718,6.86985631011211
2,Argentina,ARG,"Annual freshwater withdrawals, total (% of int...",ER.H2O.FWTL.ZS,12.9075342465753,..,..,..,..,12.9075342465753,..,..,..,..
3,Argentina,ARG,Births attended by skilled health staff (% of ...,SH.STA.BRTC.ZS,98.2,97,99.6,99.6,98.4,93.9,..,..,..,..
4,Argentina,ARG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.26422378235981,4.34211506853729,4.20909563279429,4.30191387639872,4.20184577616112,4.07130836193664,3.97577197057929,3.74065029063396,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14625,World,WLD,Tax revenue (% of GDP),GC.TAX.TOTL.GD.ZS,13.8068440625773,13.9935124986322,13.9714935874795,13.9753606090991,13.8624538762557,14.1979384289774,13.8440424303049,13.7982728147195,13.5762929265977,..
14626,World,WLD,Terrestrial and marine protected areas (% of t...,ER.PTD.TOTL.ZS,..,..,..,..,13.3485702821239,14.3394318117509,14.3394522714984,..,..,..
14627,World,WLD,Time required to start a business (days),IC.REG.DURS,31.3578651685393,26.7793650793651,24.2989417989418,23.4042105263158,23.0057894736842,21.4952631578947,20.5,19.5973821989529,..,..
14628,World,WLD,"Total debt service (% of exports of goods, ser...",DT.TDS.DECT.EX.ZS,..,..,..,..,..,..,..,..,..,..
14629,World,WLD,Urban population growth (annual %),SP.URB.GROW,2.09689511955837,2.08529101880663,2.06915866659337,2.04836134586679,2.02912174751921,1.99908676440188,1.93704503550258,1.87947385932684,1.84544034975896,1.69109911969501

In [9]:
countryCode = worldData.copy()
countryCode=countryCode[["Country Code", "Country Name"]]
countryCode.drop_duplicates(inplace=True)
countryCode.dropna()

      Country Code                                Country Name
0              ARG                                   Argentina
55             AUS                                   Australia
110            BRA                                      Brazil
165            CHN                                       China
220            FRA                                      France
...            ...                                         ...
14355          SSF                          Sub-Saharan Africa
14410          SSA  Sub-Saharan Africa (excluding high income)
14465          TSS   Sub-Saharan Africa (IDA & IBRD countries)
14520          UMC                         Upper middle income
14575          WLD                                       World

[266 rows x 2 columns]

In [40]:
# create countries database to hold list of country and codes for comparison to pull API data
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:password@localhost:5432/groupSeven')
countryCode.to_sql('countries', engine,if_exists='replace',index=False)

266

In [41]:
# convert year colum data to float for import into Postgres
cols = ['YR2012', 'YR2013', 'YR2014','YR2015','YR2016','YR2017','YR2018','YR2019','YR2020','YR2021']
worldData[cols] = worldData[cols].apply(pd.to_numeric,   errors = 'coerce')

worldData.dtypes

Country Name     object
Country Code     object
Series Name      object
Series Code      object
YR2012          float64
YR2013          float64
YR2014          float64
YR2015          float64
YR2016          float64
YR2017          float64
YR2018          float64
YR2019          float64
YR2020          float64
YR2021          float64
dtype: object

In [39]:
#create table to hold world bank data

from sqlalchemy.types import VARCHAR, Float
engine = create_engine('postgresql://postgres:password@localhost:5432/groupSeven')
worldData.to_sql('WDIData', engine,if_exists='replace',index=False,
               dtype={'Country Name' : VARCHAR(length=255),
                   'Country Code': VARCHAR(length=5),
                    'Series Name':VARCHAR(length=100),
                    'Series Code': VARCHAR(length=50),
                      } )

630

In [13]:
countryData =[]

countryData = pd.DataFrame ()

In [14]:
countryData["country_name"]="" 
countryData["country_code"]="" 
countryData["us_category_name"]="" 
countryData["aid_type_name"]="" 
countryData["fiscal_year"]="" 
countryData["current_dollar_amount"]="" 
countryData["constant_dollar_amount"]="" 
countryData.head()

Empty DataFrame
Columns: [country_name, country_code, us_category_name, aid_type_name, fiscal_year, current_dollar_amount, constant_dollar_amount]
Index: []

In [ ]:
# get list of country names from postgres database
# then pass into next dataframe to iterrate through the list to get information for each country 
# try to limit the number of calls per country based on the information public can only get 1000 rows per hour.

In [16]:
# pull aid type from API based on income group name
base_url="https://data.usaid.gov/resource/azij-hu6e.json?income_group_name="

country_name = "Afghanistan"

income_group_name = "Low Income Country"
#year = 2008
#response =  requests.get(f"{base_url}{country_name}&fiscal_year={year}").json()
responseList = []
for x in range(2012, 2013):
    #response =  requests.get(f"{base_url}{country_name}&fiscal_year={x}").json()
    response =  requests.get(f"{base_url}{income_group_name}&fiscal_year={x}").json()
    #responseList.append(response[3])
    results = response[3]
    country = results['country_name']
    countrycode = results['country_code'] 
    us_category_name = results['us_category_name']
    aid_type_name = results ['aid_type_name']
    fiscal_year = results ['fiscal_year']
    current_dollar_amount = results ['current_dollar_amount']
    constant_dollar_amount = results ['constant_dollar_amount']
        
#print (country,fiscal_year, countrycode,aid_type_name,us_category_name,constant_dollar_amount,current_dollar_amount)

In [17]:
results = pd.DataFrame(response)
newresults = results[['country_code','country_name','us_category_name','income_group_name','aid_type_name','fiscal_year',
                      'current_dollar_amount','constant_dollar_amount']]
newresults

,country_code,country_name,us_category_name,income_group_name,aid_type_name,fiscal_year,current_dollar_amount,constant_dollar_amount
0,AFG,Afghanistan,Program Support,Low Income Country,Administrative costs not included elsewhere,2012,1450,1651
1,AFG,Afghanistan,Program Support,Low Income Country,Administrative costs not included elsewhere,2012,35000,39850
2,AFG,Afghanistan,Program Support,Low Income Country,Administrative costs not included elsewhere,2012,8245,9387
3,AFG,Afghanistan,Program Support,Low Income Country,Administrative costs not included elsewhere,2012,23525,26784
4,AFG,Afghanistan,Program Support,Low Income Country,Administrative costs not included elsewhere,2012,645,735
...,...,...,...,...,...,...,...,...
995,AFG,Afghanistan,Economic Development,Low Income Country,Project-type interventions - not Investment Re...,2012,4855,5528
996,AFG,Afghanistan,Economic Development,Low Income Country,Project-type interventions - not Investment Re...,2012,2000000,2277126
997,AFG,Afghanistan,Economic Development,Low Income Country,Project-type interventions - not Investment Re...,2012,-2471,-2814
998,AFG,Afghanistan,Economic Development,Low Income Country,Project-type interventions - not Investment Re...,2012,-669,-762
999,AFG,Afghanistan,Economic Development,Low Income Country,Project-type interventions - not Investment Re...,2012,-8374,-9534

In [18]:
newresults.to_csv('test.csv')

In [19]:
# import results from US foreign aid to postgres database
from sqlalchemy import create_engine
engine = create_engine(connect_string)
newresults.to_sql('foreigndata4', engine,if_exists='replace',index=False)

1000

In [20]:
# this is the original dataframe to loop through by fiscal year.


base_url="https://data.usaid.gov/resource/azij-hu6e.json?country_name="
#query_parameters="?fiscal_year > 1950"
country_name = "Aruba"
response =  requests.get(f"{base_url}{country_name}").json()
#counter = 0 

for i in response : 
    if i["fiscal_year"]  == '2000' or i["fiscal_year"]  == '2000'  :
        dict = {}
        dict["country_name"]=i['country_name']
        dict["country_code"]=i['country_code']
        dict["us_category_name"]=i['us_category_name']
        print(dict)
    #counter = counter + 1

{'country_name': 'Aruba', 'country_code': 'ABW', 'us_category_name': 'Peace and Security'}

Where this data was retrieved from
Foreign Assistance Data and Reporting Team (FA-DART), a joint venture of the U.S. Agency for International Development and U.S. Department of State. 2022. ForeignAssistance.gov - Complete. Dataset. USAID Development Data Library. https://data.usaid.gov/d/azij-hu6e.

In [ ]:
# income_group_name, country_code, country_name, us_category_name,aid_type_name,

#fiscal_year,current_dollar_amount,constant_dollar_amount